body {
    color: var(--MatteBlack) !important;
}

.button-schedule {
    border-radius: 10px;
}

.card-border {
    border-radius: 30px;
}

ul {
    list-style-type: none;
}

.txt-large {
    font-size: 30px;
}

.txt-small {
    font-size: 20px;
    align-self: flex-end;
}

.speaker-pic {
    border-radius: 60px;
}

.schedule-title {
    font-size: 16px;
    align-self: center;
}

.align-center {
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.card-align-center {
    display: flex !important;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding-right: 0;
    z-index: 3;
}

.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 10px 0;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: var(--text-tertiary);
    opacity: .75;
    cursor: pointer;
    box-shadow: 0 1px 5px 0 rgba(20, 19, 19, .212), 0 1px 5px 0 rgba(20, 19, 19, .212);
    background: #fff;
    border-radius: 50%;
    border: none;
    transition: var(--transition-speed);
    outline: none;
    z-index: 3;
}

.paddle-left {
    right: -2.5rem;
}

.paddle-right {
    left: -2.5rem;
}

.nav-item,
.nav-pills,
.cornerEdge {
    border-radius: 20px / 50% !important;
}

.nav-pills {
    justify-content: center;
}

.custom-Card {
    border: none;
    border-radius: 40px /50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    /* max-width: 66.666667%; */
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: 0 5px 15px 0 rgba(110, 123, 131, .05);
    padding: 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

@media (min-width: 768px) {
    .custom-Card {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        border-radius: 25px /50%;
    }
}

.custom-Card:hover {
    box-shadow: 0 5px 20px 0 rgba(110, 123, 131, .2);
    cursor: pointer;
}

.GColor a {
    background-color: white !important;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.GColor a {
    box-shadow: 0 5px 20px 0 rgba(110, 123, 131, .08);
    color: var(--MatteBlack) !important;
}

.GColor a:focus {
    box-shadow: 0 5px 20px 0 rgba(110, 123, 131, .08);
    background-color: var(--MatteBlack) !important;
}

.GColor:nth-child(1):hover a {
    background-color: var(--GoogleBlue) !important;
}

.GColor:nth-child(2):hover a {
    background-color: var(--GoogleRed) !important;
}

.GColor:nth-child(3):hover a {
    background-color: var(--GoogleYellow) !important;
}

.GColor:nth-child(4):hover a {
    background-color: var(--GoogleGreen) !important;
}

.GColor:nth-child(5):hover a {
    background-color: var(--GoogleBlue) !important;
}

.GColor:nth-child(6):hover a {
    background-color: var(--GoogleRed) !important;
}

.GColor:nth-child(7):hover a {
    background-color: var(--GoogleYellow) !important;
}

.GColor:nth-child(8):hover a {
    background-color: var(--GoogleGreen) !important;
}

.GColor:nth-child(9):hover a {
    background-color: var(--GoogleBlue) !important;
}

.GColor:nth-child(10):hover a {
    background-color: var(--GoogleRed) !important;
}

.GColor:hover a {
    color: white !important;
    box-shadow: 0 5px 20px 0 rgba(110, 123, 131, .08);
}

.invisibleClass {
    display: none;
}